body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.calculadora {
    background-color: #000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.8);
}

#resultado {
    width: 260px;
    height: 60px;
    margin-bottom: 20px;
    background-color: #222;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-align: right;
    padding: 0 15px;
    font-size: 32px;
    box-sizing: border-box;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #333;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: filter 0.2s;
}

button:active {
    filter: brightness(1.5);
}

.btn-operador { background-color: #d8aeff; }
.btn-especial { background-color: #f4e6ff; color: black; }
.btn-igual { 
    background-color: #bc92ff; 
    grid-row: span 3; /* Faz o botão '=' ocupar 3 linhas */
    height: 100%;
    border-radius: 30px;
}

.zero {
    grid-column: span 2;
    width: 122px;
    border-radius: 30px;
}
